.footer {
  background-color:var(--highlight) !important; /* Material-UI primary color */
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: auto;
}



@media (max-width: 768px) {
  .footer {
    margin-top: 50px;
  }
}